doctype html
html(lang="es")
  head
    meta(charset='UTF-8')
    title!= title
    link(rel="stylesheet", href="css/style.css")
  body
    h1!= message
    hgroup
        h1 Acceso Usuario
    form#frmLogon(style="display:none")
        .group
            input(type='text')#username
            span.highlight
            span.bar
            label Usuario
        .group
            input(type='password')#userpasswd
            span.highlight
            span.bar
            label Clave
        button.button.buttonBlue(type='button')#btnLogon
            | Aceptar
            .ripples.buttonRipples
            span.ripplesCircle
    #dashboard(style="display:none")
      button.button.buttonBlue.camControl(type='button')#btnIZQ
        | <- Izq
        .ripples.buttonRipples
        span.ripplesCircle
      button.button.buttonBlue.camControl(type='button')#btnDER
        | Der ->
        .ripples.buttonRipples
        span.ripplesCircle
    #cam
      video#video(autoplay="autplay")
        canvas#canvas        
    footer
       
    script(src='js/jquery-2.2.4.min.js')
    script(src='js/logon.js')
        
    